html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background: #fefefe;
    margin-bottom: 80px;
}

.featured,
.card-deck {
    padding-left: 16px;
    margin-bottom: 20px;
}

.footer {
    font-size: 0.9em;
    color: #bbb;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 70px;
}

.dark {
    background: #1f1f1f;
}

.search-txt {
    font-style: italic;
    width: 50%;
    min-width: 50%;
}

.menu {
    list-style: none;
}

.author {
    font-size: 0.8em;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.content ul {
    list-style: none;
    margin: 0;
}

.padding-left-10 {
    padding-left: 10px;
}

.center-img {
    display: block;
    margin: auto;
}